<!-- Begin Global Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="{{ pages.home.slug }}">
          <img id="footer-logo" src="{{root_url}}/svg/donut-logo-horizontal.svg">
        </a>
        <nav>
        {% for item in footer_nav_items %}
          <a href="{{ item.href }}" title="{{ item.title }}">{{ item.title }}</a>
        {% endfor %}
        </nav>
        {% include "partials/social-links.html" %}
        <p class="copyright">&copy;Copyright 2019 Dear America, LLC &nbsp;|&nbsp; <a target="_blank" href="https://mydonut.co/privacy-policy">Privacy</a></p>
      </div>
    </div>
  </div>
</footer>