<!-- Begin Global Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <img id="footer-logo" src="/svg/donut-logo-horizontal.svg">
        <nav>
          <a href="#">Ambassadors</a>
          <a href="#">Contact</a>
          <a href="#">Rating System</a>
          <a href="#">Team</a>
        </nav>
        <div class="footer-social-links">
          <a class="fb" href="#"><img src="/svg/footer-social-icon--fb.svg" alt="Facebook"></a>
          <a class="twit"href="#"><img src="/svg/footer-social-icon--twitter.svg" alt="Twitter"></a>
          <a class="linkedin"href="#"><img src="/svg/footer-social-icon--linkedin.svg" alt="LinkedIn"></a>
          <a class="insta"href="#"><img src="/svg/footer-social-icon--instagram.svg" alt="Instagram"></a>
          <a class="email"href="#"><img src="/svg/footer-social-icon--email.svg" alt="Email"></a>
        </div>
        <p class="copyright">&copy;Copyright 2019 Dear America, LLC &nbsp;|&nbsp; <a href="#">Privacy</a></p>
      </div>
    </div>
  </div>
</footer>