<!-- Begin Global Header -->
<header>
  <div class="header-block--cta">
    <a class="btn stroke white btn-small" href="#">See Today's DONUT <svg class="arrow" viewBox="0 0 20 10" xmlns="http://www.w3.org/2000/svg"><g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M1.5 5h15.77M14 1l4 4-4 4"/></g></svg></a>
  </div>
  <div class="header-block--desktop-nav">
    <nav>
      <div class="nav-item">
        <a href="#">About</a>
      </div>
      {# <div class="nav-item">
        <a href="#">Advertise</a>
      </div> #}
      <div class="nav-item">
        <a href="#">Shop</a>
      </div>
      {# <div class="nav-item">
        <a href="#">the DONUT Chronicles</a>
      </div> #}
    </nav>
  </div>
  <div id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="mobile-nav-wrapper">
    <nav id="mobile-menu">	
      <a href="#">About</a>
      <a href="#">Advertise</a>
      <a href="#">Shop</a>
      <a href="#">the DONUT Chronicles</a>
    </nav>
  </div>
</header>







<!-- end global header -->