<!-- Begin Global Header -->
<header>
  <div class="header-block--cta">
    <a class="btn stroke white btn-small" href="#">See Today's DONUT <svg class="arrow" viewBox="0 0 20 10" xmlns="http://www.w3.org/2000/svg"><g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"><path d="M1.5 5h15.77M14 1l4 4-4 4"/></g></svg></a>
  </div>
  <div class="header-block--desktop-nav">
    <nav>
      {% for item in header_nav_items %}
        <div class="nav-item">
          <a href="{{ item.href }}" title="{{ item.title }}">{{ item.title }}</a>
        </div>
      {% endfor %}
    </nav>
  </div>
  <div id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="mobile-nav-wrapper">
    <nav id="mobile-menu">	
      <a href="/" title="Home">Home</a>
      {% for item in header_nav_items %}
        <a href="{{ item.href }}" title="{{ item.title }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>







<!-- end global header -->