/**********************************************
 Footer Subscribe
**********************************************/

.footer-subscribe {
  padding: 60px 0;
  background: linear-gradient(45deg, rgba($periwinkle, 0.95), rgba($sky, 0.95)),
    url('http://localhost:3000/images/sprinkle-texture-dark.jpg');

  @include breakpoint('sm') {
    padding: 170px 0 180px;
  }

  .col {
    text-align: center;
  }

  .headline {
    margin-bottom: 24px;
  }

  p {
    margin: 0 auto 40px;
    max-width: 700px;
  }

  .form-wrapper {
    max-width: 530px;
    margin: auto;
  }
}
