/**********************************************
 About
**********************************************/
.about-hero,
.about-ingredients {
  p {
    opacity: 0.6;
  }
}

.about-hero {
  background: $black;
  padding-top: 130px;
  text-align: center;
  .logo {
    max-width: 185px;
    margin-bottom: 70px;
    @media screen and (max-width: $mq-max-sm) {
      max-width: 148px;
      margin-bottom: 50px;
    }
  }
}


.about-ingredients {
  background: $lighter-black;
  padding-bottom: 80px;
  .ingredients-excerpt {
    text-align: center;
  }
  h1 {
    margin-bottom: 20px;
  }
  .ingredient {
    display: flex;
    margin-bottom: 60px;
    align-items: flex-start;
    @media screen and (max-width: $mq-max-sm) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    img {
      width: 60px;
      flex: none;
    }
    .ingredient-content {
      margin-left: 30px;
      @media screen and (max-width: $mq-max-sm) {
        margin-left: 0;
        margin-top: 20px;
      }
      h3 {
        margin-bottom: 15px;
      }
    }
  }
}