/**********************************************
 Today's DONUT
**********************************************/
.sprinkle-hero.todays-donut {
  padding-bottom: 280px;
}

.todays-donut-newsletter {
  max-width: 750px;
  margin: auto;
  background: #ececec;
  padding: 120px 0 60px;
  transform: translateY(-160px);
  box-shadow: 0 22px 44px rgba(#3c3d5d, 0.4);
  position: relative;
  @include breakpoint('sm') {
    transform: translateY(-180px);
  }
  .date-bubble {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint('sm') {
      transform: translateX(-50%) scale(0.8);
    }
  }
}

.newsletter-html {
  max-width: 600px;
  margin: auto;
}
