/**********************************************
 Team
**********************************************/
.team-hero {
  background: $black;
  padding-top: 160px;
  padding-bottom: 280px;
  text-align: center;
  position: relative;
  @include breakpoint('xl') {
    padding-bottom: 260px;
  }
}

.team-headshots {
  margin-top: -170px;
  padding-bottom: 120px;
  @include breakpoint('xl') {
    margin-top: -150px;
  }
}

.team-member-wrap {
  // max-width: 310px; // 3-column
  max-width: 249px; // 4-column
  margin: 0 auto 40px;
  text-align: center;
  @include breakpoint('xl') {
    // max-width: 260px; // 3-column
  }
  @include breakpoint('lg') {
    max-width: 280px;
  }
  @include breakpoint('md') {
    max-width: 230px;
  }
  @include breakpoint('sm') {
    max-width: 280px;
  }
  .headshot-wrap {
    background: linear-gradient(45deg, $periwinkle, $green);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 25px;
  }
  img {
    width: 100%;
    border-radius: 50%;
    position: relative;
  }
  h3 {
    margin-bottom: 10px;
  }
}
