/**********************************************
 Global Template - Skyscraper
**********************************************/

.skyscraper-container {
  max-width: 630px;
  margin: auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 30px;

  [class^='col-'] {
    min-width: 0;
    min-height: 0;
  }

  .col-full {
    grid-column: 1 / -1;
  }
}
