/**********************************************
 Header Styles
**********************************************/
header {
  width: 100%;
  height: $header-height-mobile;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1000;
  padding-right: 15px;
  padding-left: 0;
  position: fixed;
  background: $black;

  @include breakpoint('lg') {
    background: transparent;
    height: $header-height;
    position: absolute;
    padding-left: 20px;
    padding-right: 40px;
  }

  nav {
    display: flex;
    height: 100%;
    position: relative;

    .nav-item {
      padding: 0 20px;

      &:hover {
        & > a {
          &:after {
            width: 100%;
          }
        }
      }

      & a,
      & p {
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        padding: 8px 6px;
        position: relative;
        display: block;
        line-height: 20px;
        cursor: pointer;
      }

      & > a {
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          height: 3px;
          background: #fff;
          transition: $btn-timing-function;
          transform: translateX(-50%);
        }
      }

      &.has-submenu {
        position: relative;
        perspective: 1000px;

        .outer {
          position: absolute;
          pointer-events: none;
          padding-top: 20px;
          transform: translateX(-50%) scale(0.8) rotateX(-90deg) rotateY(10deg);
          transform-origin: top center;
          opacity: 0;
          box-shadow: 0 0 20px 0 rgba($black, 0);
          transition: all 0.5s cubic-bezier(0.22, 0.19, 0.03, 1);
          left: 50%;
          width: 100%;
          max-width: 167px;
        }

        &:hover {
          .outer {
            transform: translate(-50%) rotateX(0);
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }

    &.submenu {
      background: #fff;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 8px 40px -8px rgba($black, 0.5);
      height: inherit;

      svg.submenu-point {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
      }

      .submenu-item {
        padding: 3px 10px;
        transition: $btn-timing-function;
        border-radius: 6px;

        a {
          transition: $btn-timing-function;
          color: $black;
        }

        &:hover {
          background: $black;

          a {
            color: #fff;
          }
        }

        &.latest {
          &:hover {
            background: $pink;
          }
        }
      }
    }
  }

  &.form-active {
    .header-block--cta {
      .cta-form-wrap {
        pointer-events: all;
        opacity: 1;
        transform: translateX(0);
      }

      .btn {
        transform: translateX(100px);
        opacity: 0;
        transition: 0.4s cubic-bezier(0.33, 0.2, 0, 1);
        pointer-events: none;
      }
    }
  }
}

.header-block--desktop-nav {
  display: none;
  @include breakpoint('lg') {
    display: block;
  }
}

.header-block--cta {
  position: relative;
  z-index: 1001;
  margin-left: auto;

  .btn {
    line-height: $btn-height-sm !important; // preserve styles from being overwritten by inline newsletter styles on single newsletter page
    padding: 0 15px;
    font-size: 12px !important; // preserve styles from being overwritten by inline newsletter styles on single newsletter page
    position: absolute;
    right: 0;

    @include breakpoint('lg') {
      line-height: $btn-height !important;
      font-size: 14px !important;
      padding: 0px 25px;
    }

    svg {
      position: relative;
      top: 2px;
      margin-left: 9px;
    }

    &#header-refer {
      transform: translateX(-140px);

      @include breakpoint('lg') {
        transform: translateX(-171px);
      }
    }
  }

  .cta-form-wrap {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100px);
    transition: 0.4s cubic-bezier(0.33, 0.2, 0, 1);
    will-change: transform, opacity;
  }

  .single-input-form {
    .form-content {
      max-width: 400px;
      flex-direction: row;
      padding-left: 65px;

      @include breakpoint('lg') {
        padding-left: unset;
      }

      .field-wrapper {
        @include breakpoint('lg') {
          margin: 0;
        }
      }
    }

    input {
      font-size: 16px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 4px 20px;

      @include breakpoint('lg') {
        padding: 7px 20px;
      }
    }

    button {
      line-height: 14px;
      padding: 12px 15px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      @include breakpoint('lg') {
        padding: 15px 15px;
      }
    }
  }
}

.mobile-nav-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  perspective: 1000px;
  pointer-events: none;
}

#mobile-menu {
  background: $black;
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  overflow-y: scroll;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.35, 0.2, 0.35, 1);
  transform: scale(0.8) rotateX(10deg) rotateY(20deg);

  a,
  p {
    font-weight: 700;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }

  .nav-item {
    svg {
      position: relative;
      left: 3px;
      bottom: 2px;
    }

    &.is-open {
      nav.submenu {
        display: block;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }

  nav.submenu {
    display: none;
    padding: 0;
    background: transparent;
    border-radius: inherit;
    text-align: center;

    a {
      font-size: 16px;
      opacity: 0.6;
    }
  }
}

#hamburger {
  position: absolute;
  left: 0;
  height: 100%;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  cursor: pointer;

  @include breakpoint('lg') {
    display: none;
  }

  span {
    display: block;
    background: #fff;
    height: 3px;
    width: 25px;
    position: absolute;
    transition: $btn-timing-function;
    pointer-events: none;

    &:nth-child(1) {
      transform: translateY(-7px);
    }

    &:nth-child(3) {
      transform: translateY(7px);
    }
  }
}

body {
  &.mobile-nav-is-open {
    #mobile-menu {
      pointer-events: auto;
      opacity: 1;
      transform: scale(1) rotateX(0deg) rotateY(0deg);
    }

    #hamburger {
      span:nth-child(1) {
        transform: translateY(0px) rotate(-45deg);
      }

      span:nth-child(2) {
        width: 0;
      }

      span:nth-child(3) {
        transform: translateY(0px) rotate(45deg);
      }
    }
  }

  &.logged-in {
    // Wordpress styles for when user is logged into admin
    header {
      @include breakpoint('lg') {
        top: 32px;
      }

      @include breakpoint(782, true) {
        top: 46px;
      }
    }
  }
}

@include breakpoint('lg') {
  body.black-nav-text {
    header {
      .btn.stroke {
        border-color: $black;
        color: $black;

        &:hover {
          background: $black;
          color: #fff;

          svg path {
            stroke: #fff;
          }
        }
      }
      .nav-item {
        a,
        p {
          color: $black;
        }

        a::after {
          background: $black;
        }

        &.has-submenu {
          p > svg path {
            stroke: $black;
          }
        }
      }

      .submenu-item {
        &:hover a {
          color: #fff;
        }
      }
    }
  }
}
