{% set page = "about" %}
{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}

<section class="about-hero padding-bottom-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 white-text">
        <a href="{{root_url}}{{pages.home.slug}}">
				  <img class="logo" src="{{root_url}}/svg/donut-logo-vertical.svg">
        </a>
        <div class="about-excerpt">
          <p class="large">With the country so divided, our dream is to transform news consumption and civic engagement by bringing people together instead of driving them apart - want to know our ingredients?</p>
        </div>
			</div>
		</div>
	</div>
</section>

<section class="about-ingredients padding-100">
  <div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 white-text">
				<div class="ingredients-excerpt margin-bottom-100">
          <h1>the DONUT Ingredients</h1>
          <p class="large">Forget secret recipes and hidden flavors. We know that fully understanding what goes into the DONUT makes it even sweeter. In fact, we don't even care if you share... it's encouraged.</p>
        </div>
			</div>
		</div>
    <div class="row">
      <div class="col-lg-6">
        <div class="ingredient">
          <img src="{{root_url}}/svg/icon-lightbulb.svg">
          <div class="ingredient-content white-text">
            <h3>Fact-based News</h3>
            <p>All the news we share or summarize in the DONUT is fact based. What is a "fact"? It's something verifiable and/or corroborated by unbiased experts. We do the work to ensure the information we share with you is true, and we serve it up on its own, no extra flavor or spice.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="ingredient">
          <img src="{{root_url}}/svg/icon-opinion-free.svg">
          <div class="ingredient-content white-text">
            <h3>Opinion-free information</h3>
            <p>At the DONUT we believe an opinion should be yours, not ours. That means when we share info with you, we withhold our judgement, so you can decide how you feel about something.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="ingredient">
          <img src="{{root_url}}/svg/icon-360.svg">
          <div class="ingredient-content white-text">
            <h3>Equal Representation on the Issues</h3>
            <p>Part of the fun of forming your own opinion is it's probably going to be different than the person sitting next to you. And the person sitting next to them. At the DONUT we believe having access to multiple points of view about an issue is what allows us to be more informed overall. We promise to always share access to all viewpoints when summarizing a popular news topic that might be polarizing.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="ingredient">
          <img src="{{root_url}}/svg/icon-positivity.svg">
          <div class="ingredient-content white-text">
            <h3>Relentless Positivity</h3>
            <p>Optimism is the foundation to the recipe here at the DONUT. We believe that a dose of positivity is important for everyone's well being, so we scour the internet to find the news that makes us feel the feels every single day. The BEST part? There's no shortage of these stories to share, and we feel confident that one day... there might just be a piece involving puppies.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>


{% include "partials/footer-subscribe.html" %}


<!-- <div class="_form-thank-you">
	<div class="close-btn"></div>
	<div class="lottie-check-mark"></div>
	<h1>Thanks for subscribing!</h1>
	<p>You are now part of the DONUT revolution.  Keep an eye out for us in your inbox.</p>
</div> -->





{% include "partials/footer.html" %}
	
{% endblock %}