{% set page = "old-donuts" %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "sections/header.html" %}

<section class="sprinkle-hero periwinkle">
	<div class="container">
		<div class="row">
			<div class="col white-text">
				<h1 class="large">Stale DONUTs</h1>
			</div>
		</div>
	</div>
	<img class="section-contour-bottom" src="{{root_url}}/svg/frosting-contour-white.svg">
</section>

<section class="stale-donuts">
	<div class="container">
		<div class="row row-eq-height">
			{% for donut in stale_donut_cards %}
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="stale-donut-card">

					<div class="top">
						<div class="featured-image absolute-0">
							<img src="{{root_url}}/images/donut-gifs/{{donut.featured_image}}">
						</div>

						<div class="date-bubble small">
							<p class="weekday">{{donut.date.weekday}}</p>
							<p class="month">{{donut.date.month}}</p>
							<p class="day">{{donut.date.day}}</p>
						</div>
					</div>

					<div class="bottom">
						<h4 class="title">{{donut.title}}</h4>
						<p class="excerpt">{{donut.excerpt}}</p>
						<a href="#" class="btn btn-small black stroke">Read Article &nbsp;&nbsp;<svg width="20" height="10" xmlns="http://www.w3.org/2000/svg">
								<g stroke="#1A1418" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round">
									<path d="M1.5 5h15.769M14 1l4 4-4 4" />
								</g>
							</svg></a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="post-pagination">
					<a href="#" class="first"><img src="{{root_url}}/svg/pagination-double-chevron.svg" alt="first"></a>
					<a href="#" class="prev"><img src="{{root_url}}/svg/pagination-chevron.svg" alt="prev"></a>
					<a href="#" class="page-number active">1</a>
					<a href="#" class="page-number">2</a>
					<a href="#" class="page-number">3</a>
					<a href="#" class="page-number">4</a>
					<a href="#" class="page-number">5</a>
					<a href="#" class="next"><img src="{{root_url}}/svg/pagination-chevron.svg" alt="next"></a>
					<a href="#" class="last"><img src="{{root_url}}/svg/pagination-double-chevron.svg" alt="last"></a>
				</div>
			</div>
		</div>
	</div>
</section>





{% include "sections/footer.html" %}

{% endblock %}