{% set page = "home" %}

{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}

<section class="homepage-hero">
	<div class="container">
		<div class="row">
			<div class="col">
				<a class="logo" href="/">
					<div class="lottie-wrapper"></div>
				</a>
				<div class="content">
					<h1 class="large headline">Get the FREE daily email that's changing the way people feel about news.</h1>
					<p class="large subtext">Fact-only summaries with a 360° view of what the media is saying.<br> A Dose of Positive with every email (because the world truly needs it).</p>
				</div>
				<div class="form-wrapper">
					<form id="subForm" class="single-input-form js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E905619D46C578C13DDFF6441C6635407B1C0360BB5CEF4218B8BC89D7C6A17877B09FDE6B1E1C65BFD365D419599279E726665">
						<div class="form-content">
							<div class="field-wrapper">
								<!-- <label for="fieldEmail">Email</label> -->
								<input id="fieldEmail" name="cm-stihjr-stihjr" type="email" placeholder="Enter your email" class="js-cm-email-input" required />
								<input id="fieldyhhllyd" name="cm-f-yhhllyd" type="hidden" /> <!-- Custom field input for capturing UTM Source -->
								<input id="fieldykqhyi" name="cm-f-ykqhyi" type="hidden" /> <!-- Custom field input for capturing UTM Campaign -->
								<input id="fieldykfdjl" name="cm-f-ykfdjl" type="hidden" /> <!-- Custom field for referral URL if UTM values are null -->
							</div>

							<div class="button-wrapper">
								<button class="js-cm-submit-button" type="submit">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
				<p class="form-caption">Still not convinced? Check out the <a href="latest.html">latest newsletter</a></p>
			</div>
		</div>
</section>

<section class="homepage-about-plank">
	<div class="ingredients half">
		<a href="about.html">
			<div class="inner">
				<h1>the DONUT* Ingredients</h1>
				<div class="ingredients-wrapper">
					<div class="ingredient">
						<img class="icon" src="svg/icon-lightbulb.svg">
						<p class="medium">Fact-based News</p>
					</div>
					<div class="ingredient">
						<img class="icon" src="svg/icon-opinion-free.svg">
						<p class="medium">Opinion-free information</p>
					</div>
					<div class="ingredient">
						<img class="icon" src="svg/icon-360.svg">
						<p class="medium">Equal representation on the issues</p>
					</div>
					<div class="ingredient">
						<img class="icon" src="svg/icon-positivity.svg">
						<p class="medium">Relentless positivity</p>
					</div>
				</div>
				<h4>* served to your inbox daily</h4>
			</div>
		</a>
	</div>
	<div class="mockup half"></div>
</section>

<section class="homepage-quote-section">
	<div class="quotes half">
		<div class="quote-carousel">

			<div class="quote-wrapper">
				<div class="quote-box">
					<div class="quote-marks">
						<img src="svg/quote-marks.svg">
					</div>
					<p class="quote">"Staying informed these days isn’t optional – it’s essential. The DONUT shows me multiple sides of a story so I don’t waste time searching."</p>
					<p class="attribution">- Time conscious subscriber</p>
				</div>
			</div>

			<div class="quote-wrapper">
				<div class="quote-box">
					<div class="quote-marks">
						<img src="svg/quote-marks.svg">
					</div>
					<p class="quote">"I’ve been searching for a news source that doesn’t pick a side. FINALLY I found the DONUT and I can form my own opinion."</p>
					<p class="attribution">- Free thinking subscriber</p>
				</div>
			</div>

			<div class="quote-wrapper">
				<div class="quote-box">
					<div class="quote-marks">
						<img src="svg/quote-marks.svg">
					</div>
					<p class="quote">"There’s nothing like getting the day’s biggest stories sent directly to me every morning. I’m always the one in my friend group who really knows what’s up."</p>
					<p class="attribution">- Continuously flexing subscriber</p>
				</div>
			</div>

			<div class="quote-wrapper">
				<div class="quote-box">
					<div class="quote-marks">
						<img src="svg/quote-marks.svg">
					</div>
					<p class="quote">"I’ve been dodging political news for a long time. It’s just exhausting. But the DONUT showed me I really can stay in-the-know without all the obnoxious bias."</p>
					<p class="attribution">- Formerly exhausted subscriber</p>
				</div>
			</div>

			<div class="quote-wrapper">
				<div class="quote-box">
					<div class="quote-marks">
						<img src="svg/quote-marks.svg">
					</div>
					<p class="quote">"The Daily DONUT is a game changer. I can get informed on what’s going on in the world without any negative or twisted spin. It actually makes the news fun again."</p>
					<p class="attribution">- Fun loving subscriber</p>
				</div>
			</div>

		</div>
		<div class="quote-pagination"></div>
	</div>

	<div class="tagline-spinner half">
		<div class="tagline-spinner--shell">
			<img id="tagline-spinner-outer" src="svg/tagline-spinner-outer.svg">
			<div class="tagline-spinner-middle-band"></div>
			<img id="tagline-spinner-inner" src="svg/tagline-spinner-inner.svg">
			<img id="tagline-spinner-donut" src="svg/tagline-spinner-donut.svg">
		</div>
	</div>
</section>

{% include "partials/footer-subscribe.html" %}


{% include "partials/footer.html" %}

{% endblock %}