/**********************************************
 Campaign Monitor Forms
**********************************************/

.single-input-form {
  &.with-shadow {
    .form-content {
      border-radius: 4px;

      @include breakpoint('sm') {
        box-shadow: 0 12px 24px rgba(#3e4075, 0.5);
      }
    }

    .input .button {
      box-shadow: 0 12px 24px rgba(#3e4075, 0.5);

      @include breakpoint('sm') {
        box-shadow: unset;
      }
    }
  }

  .form-content {
    display: flex;
    flex-direction: column;

    @include breakpoint('sm') {
      flex-direction: row;
    }
  }

  .field-wrapper {
    position: relative;

    ._error {
      background: $schoolbus;
      border-radius: 4px;
      padding: 15px 20px;
      position: absolute;
      right: 0;
      bottom: -110%;
    }

    ._error-arrow {
      width: 0;
      height: 0;
      position: absolute;
      top: -7px;
      transform: rotate(45deg);
      z-index: 0;
      left: 20px;
      background: transparent;
      border-top: 8px solid $schoolbus;
      border-right: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid $schoolbus;
    }
  }

  input {
    width: 100%;
    font-size: 18px;
    font-family: $body-font;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin: 0;
    padding: 15px 20px;

    @include breakpoint(sm) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button {
    font-family: $body-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border-radius: 4px;
    border: none;
    color: #fff;
    background: $primary-btn-color;
    transition: $btn-timing-function;
    margin: 0;
    padding: 15px 40px;
    outline: none;
    cursor: pointer;
    position: relative;
    width: 100%;

    @include breakpoint('sm') {
      width: initial;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:hover {
      background: $primary-btn-color-hover;
    }

    &.black {
      background: $black;

      &:hover {
        background: tint($black, 10%);
      }
    }
  }

  .field-wrapper {
    flex: 1;
    margin-bottom: 15px;

    @include breakpoint('sm') {
      margin-bottom: 0;
    }
  }
}

// Matt Custom code
.validation-message {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 20px;
  font-size: 10px;
  color: #fff;
}
