// Colors
///////////////////////////////////////////////
$black: #1a1418;
$soft-black: #2e2329;
$bright-black: #3f343a;
$cream: #fffce9;
$periwinkle: #4c51f0;
$pink: #f84faa;
$green: #50e3c2;
$sky: #31c9ff;
$chocolate: #6c3c31;
$schoolbus: #fcb52b;
$hotbutton: #e45e4e;
$dough: #ebbc60;

// Typography
///////////////////////////////////////////////
$body-font: 'Poppins', sans-serif;
$heading-font: $body-font;

// Buttons
///////////////////////////////////////////////
$btn-height-lg: 60px;
$btn-height: 44px;
$btn-height-sm: 38px;
$btn-stroke-width: 2px;

$primary-btn-color: $pink;
$primary-btn-color-hover: shade($primary-btn-color, 30%);

$secondary-btn-color: $periwinkle;
$secondary-btn-color-hover: shade($secondary-btn-color, 30%);

$btn-border-radius: 4px;
$btn-timing-function: 0.2s cubic-bezier(0, 0, 0.2, 1);

// Header
///////////////////////////////////////////////
$header-height: 100px;
$header-height-mobile: 60px;

// Bootstrap Breakpoints
///////////////////////////////////////////////
$mq-min-xl: 1200px;
$mq-min-lg: 992px;
$mq-min-md: 768px;
$mq-min-sm: 576px;
$mq-min-xs: 0;

$mq-max-xl: ($mq-min-xl - 1);
$mq-max-lg: ($mq-min-lg - 1);
$mq-max-md: ($mq-min-md - 1);
$mq-max-sm: ($mq-min-sm - 1);

@mixin breakpoint($size, $max: false) {
  @if $size == 'sm' {
    $breakpoint: 575 !global;
  }
  @if $size == 'md' {
    $breakpoint: 768 !global;
  }
  @if $size == 'lg' {
    $breakpoint: 992 !global;
  }
  @if $size == 'xl' {
    $breakpoint: 1200 !global;
  }
  @if type-of($size) == 'number' {
    $breakpoint: $size !global;
  }

  @if $size !=
    'sm' and
    $size !=
    'md' and
    $size !=
    'lg' and
    $size !=
    'xl' and
    type-of($size) !=
    'number'
  {
    @error "Property #{$size} must equal to 'sm', 'md', 'lg', or 'lx' OR you can use a number to specify a custom breakpoint";
  }
  @if $max {
    @media screen and (max-width: $breakpoint - 1 + 'px') {
      @content;
    }
  } @else {
    @media screen and (min-width: $breakpoint + 'px') {
      @content;
    }
  }
}
