/**********************************************
 Ambassadors Refer a Friend Page
**********************************************/

.ambassador-refer-hero {
  background: url('http://localhost:3000/images/sprinkle-texture-light.jpg');
  background-size: 330px;
  position: relative;
  padding: 160px 0 190px;
  @include breakpoint('sm') {
    padding-top: 110px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, #a4fbe7, #e0faff);
    opacity: 0.96;
  }
  h1 {
    margin-bottom: 25px;
    span {
      color: $periwinkle;
    }
  }
  p.large {
    margin-bottom: 60px;
    @include breakpoint('sm') {
      margin-bottom: 30px;
    }
  }
  .refer-steps {
    max-width: 610px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;

    .step {
      max-width: 160px;
    }
    .number {
      @include size(65px);
      border-radius: 50%;
      background: #fff;
      color: $periwinkle;
      font-size: 36px;
      line-height: 22px;
      font-weight: 700;
      margin: 0 auto 15px;
      box-shadow: 0 22px 44px rgba(60, 61, 93, 0.23);
      @include breakpoint('sm') {
        @include size(55px);
        font-size: 26px;
      }
    }
    p {
      font-weight: 700;
      line-height: 22px;
      @include breakpoint('sm') {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

.ambassador-share-container {
  background: #fff;
  max-width: 711px;
  min-height: 250px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 22px 44px rgba(60, 61, 93, 0.23);
  padding: 35px;
}

.count-and-rewards {
  margin-top: -120px;
  h5 {
    margin-bottom: 15px;
  }
}

#milestone-message {
  margin-bottom: 20px;
  .nextPrize {
    color: $periwinkle;
  }
  .referralsTilNextPrize {
    color: $pink;
  }
}

.referral-count-widget {
  margin-bottom: 40px;
}
