/**********************************************
 Welcome
**********************************************/
.welcome-container {
  padding-top: 130px;
  padding-bottom: 100px;

  @include breakpoint('sm') {
    padding-top: 160px;
    padding-bottom: 150px;
  }

  .inner {
    max-width: 540px;
    margin: auto;
  }

  h1,
  .welcome-gif {
    margin-bottom: 30px;
  }
}

.welcome-foot {
  @include clearfix;
  margin-top: 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;

  @include breakpoint('sm') {
    flex-flow: row;
  }

  .social-links {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;

    @include breakpoint('sm') {
      margin-left: -5px;
      margin-right: -5px;
      margin-top: 48px;
      justify-content: flex-start;
    }

    a {
      margin: 0 5px;
      background: $black;
      @include size(34px);
    }

    img {
      @include size(34px);
    }
  }

  .postscript {
    position: relative;
    margin-right: 15px;

    @include breakpoint('sm') {
      margin-right: 0;
    }
  }

  .tshirt {
    max-width: 160px;
    flex: 1 0 auto;
    align-self: center;

    @include breakpoint('sm') {
      align-self: flex-start;
    }
  }

  .arrow {
    position: absolute;
    right: 0;
    bottom: 40px;
    display: none;

    @include breakpoint('sm') {
      display: block;
    }
  }
}

$particles: 50;
$particle_size: 6px;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();

@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width)-$width /
      2 +
      px
      random($height)-$height /
      1.2 +
      px
      hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  animation-duration: $settings;
}

@mixin animation($settings) {
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  @include size($particle_size);
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation(
    (
      1s bang ease-out infinite backwards,
      1s gravity ease-in infinite backwards,
      5s position linear infinite backwards
    )
  );
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
