<div class="social-links">
  <a class="fb" target="_blank" href="https://www.facebook.com/thedonutdaily/"><img src="{{root_url}}/svg/footer-social-icon--fb.svg" alt="Facebook"></a>
  <a class="twit" target="_blank" href="https://twitter.com/thedonutnews"><img src="{{root_url}}/svg/footer-social-icon--twitter.svg" alt="Twitter"></a>
  <a class="linkedin" target="_blank" href="https://www.linkedin.com/company/the-donut/about/"><img src="{{root_url}}/svg/footer-social-icon--linkedin.svg" alt="LinkedIn"></a>
  <a class="insta" target="_blank" href="https://www.instagram.com/thedonutdaily/"><img src="{{root_url}}/svg/footer-social-icon--instagram.svg" alt="Instagram"></a>
  <a class="email" href="mailto:peter@mydonut.co"><img src="{{root_url}}/svg/footer-social-icon--email.svg" alt="Email"></a>
</div>